* {
   padding: 0;
   margin: 0;
   border: 0;
   font-family: Tahoma;
   outline: none;
 }
 html {
   font-size: 16px;
 }
 body {
   font-size: 30px;
 }
 ul, li {
   list-style: none;
 }

 .wrapper {
   width: 1000px;
   border: 1px solid #ccc;
   margin: 0 auto;
   background: linear-gradient(#afbccc, #d7dfe9);
 }

 .header__title {
    font-size: 3.8rem;
   margin: 40px 0 25px 0;
   text-align: center;
 }

 .header__toolbar {
   display: block ;
   justify-content: center;
   margin-left: 30px;
 }

 .content-wrapper {
   padding: 40px 20px;
 }

 .todo-list__item {
   position: relative;
   padding: 20px 15px;
   font-size: 1.5rem;
 }
 .todo-list__item:hover {
   background-color: rgb(86, 89, 94);
 }
 .todo-list__item--done {
   text-decoration: line-through;
   background: slategray;
   padding: 20px 15px;
   position: relative;
 /* text-decoration: line-through;
 background: rgb(115, 117, 119); */
}

 .todo-list__delete-btn {
   position: absolute;        
   min-width: 50px;
   top: 0;
   right: 0;
   bottom: 0;
   padding: 15px 35px;
   background: transparent;
   font-size: 1.1rem;
   cursor: pointer;
   border-radius: 0 5px 5px 0;
 }
 .todo-list__delete-btn:hover,
 .todo-list__delete-btn:focus {
   background: #f4656f;
   color: white;
 }
 .todo-list__delete-btn:active {
    box-shadow: 0 0 5px red;
 }
 .todo-list__delete-btn--disabled {
    cursor: not-allowed;
 }
 .todo-list__delete-btn--disabled:hover,
 .todo-list__delete-btn--disabled:focus {
    background: transparent;
    color: rgba(16, 16, 16, 0.3);
 }

.header__task {
   flex-basis: 65%;
}

 .header__task__action {
   display:flex;
   border-radius: 5px;
    /* position: relative; */
 }

 .header__task__text {
    width: calc(100% - 30px);
   padding: 15px;
   font-size: 1.5rem;
   border-radius: 5px 0 0 5px;
 }

 .header__task__text:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
 }

 .header__task__button {
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0; */
   font-size: 1.5rem;
   min-width: 150px;
   cursor: pointer;
   margin-right: 20px ;
   /* border-radius: 0 5px 5px 0; */
 }
 .header__task__button:hover,
 .header__task__button:focus {
   background-color: #f0cdeb;
  box-shadow: 1px 0 5px rgba(0,0,0,0.5);
  outline: none;
 }
 .header__task__button:active {
    border: 1px solid lightsteelblue;
 }
 .header__task__button__add {}

 .header__task__button__add-random {
   border-radius: 0 5px 5px 0;
  
 }

 @media screen and (max-width: 1200px) {
   .wrapper {
     width: 70%;
   }
 }

 @media screen and (max-width: 992px) {
    html {
       font-size: 14px;
    }
   .wrapper {
      width: 100%;
      border-right: 0;
      border-left: 0;
   }
   .header__task {
    flex-basis: 75%;
 }

 }
 .errorMessage{
    margin-top: 4px;
   color: rgb(233, 15, 58);
   font-size: 18px;
   text-indent: 14px;
    }



 @media screen and (max-width: 576px) {
    html {
       font-size: 11px;
    }
    .header__title {
       margin: 30px 0 20px;
    }
    .content-wrapper {
       padding: 0;
    }
  .header__task {
     flex-basis: 100%;
  }
  .header__task__text,
  .header__task__button {
    border-radius: 0;
  }
  .header__task__button {
     min-width: 100px;
  }
  .todo-list__delete-btn {
     border-radius: 0;
  }
  

 }
 .ctnTasks {
  
   text-align: center;
   margin-right: auto;
 }