* {
   box-sizing: border-box;
}

body {
   background-color: #111;
   display: flex;
	align-items: center;
	justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap: wrap;
	max-width: 400px;
}

.square{
	border-radius: 7px ;
	border: 0px;
	width: 16px;
	height: 16px;
	background: #1d1d1d;
	margin: 1px;
	box-shadow: 0 0 2px #111;
	transition: 1.5s cubic-bezier(0, 1.34, 0.81,-0.4);
}

.square:hover {
	transition-duration: 0s;
}

.color {
	color:rgb(87, 165, 42)
}